import React from {quotes}react{quotes};
import PropTypes from {quotes}prop-types{quotes};
import { {componentName}Wrapper } from {quotes}./{componentName}.styles{quotes};

const {componentName} = props => (
  <{componentName}Wrapper>
    This is a {componentName}
  </{componentName}Wrapper>
);

{componentName}.propTypes = {
  // bla: PropTypes.string,
};

{componentName}.defaultProps = {
  // bla: 'test',
};

export default {componentName};
